{
  "require": [
    "esm",
    "@babel/register",
    "@babel/polyfill"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": false,
  "exclude": [
    "./.babelrc.js",
    "./register.js",
    "./*.config.js",
    "./wallaby.js",
    "src/**/__TEST__/*.spec.js",
    "api/**/__TEST__/*.spec.js",
    "lib",
    "build",
    "dist"
  ]
}
