main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;

  section {
    display: flex;
    flex: 1 1 auto;
    flex: {
      direction: column;
      wrap: wrap;
    }
    align-items: center;
    width: 100%;
  }
}
