.portraitCard {
  display: flex;
  flex-direction: column;
  width: 14rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  strong {
    padding: 10px 10px 0 10px;
    font-size: 1.6rem;
    font-weight: 700;
  }

  span {
    padding: 0 10px;
    font-size: 1.4rem;
  }
}
