#searchresults {
  padding: 50px;

  h1 {
    width: 100%;
    max-width: 100rem;
    margin: 0 0 4px;
    font: {
      size: 2.4rem;
      weight: 600;
    }
  }

  .movielist {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 600px) {
      justify-content: space-around;
    }
  }

  .loadMore {
    flex: 0 0 auto;
    padding: 1.6rem 3rem;
    border: 1px solid #00d573;
    border-radius: 0.25rem;
    font: {
      size: 1.6rem;
      weight: 700;
    }
    background: {
      color: transparent;
      image: none;
    }
    color: #00d573;
    cursor: pointer;

    &:hover {
      border-color: #081c25;
      color: #fff;
      background-color: #081c25;
    }
  }
}
