#searchresults {
  padding: 50px;

  h1 {
    font-size: 2.4rem;
    width: 100%;
    max-width: 100rem;
    margin: 0 0 4px 0;
    font-weight: 600;
  }

  .movielist {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;
  }
}
