.posterCard {
  display: flex;
  flex: 0 1 auto;
  max-width: 49.2rem;
  margin-top: 1.6rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  color: #000;
  background-color: #fff;

  @media screen and (max-width: 600px) {
    width: 18.5rem;
  }

  .poster {
    flex: 0 0 auto;
    width: 18.5rem;
    height: 27.8rem;
    font: {
      size: 9.2rem;
      family: "Glyphicons Regular";
    }
    line-height: 27.8rem;
    color: #b5b5b5;
    text-align: center;
    background-color: #dbdbdb;
  }

  .info {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-width: 20rem;
    height: 27.8rem;
    overflow: hidden;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
      display: none;
    }

    .title {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      padding: 1.6rem;

      h2 {
        flex: 0 1 auto;
        padding: 0;
        margin: 0;
        margin-bottom: 0.4rem;
        font: {
          size: 1.8rem;
          weight: 600;
        }
        line-height: 1.8rem;
      }

      span {
        flex: 0 1 auto;
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .overview {
      flex: 1 1 auto;
      width: 100%;
      padding: 0 1.6rem 1.6rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #4d4d4d;
    }

    .more {
      flex: 0 1 auto;
      height: 5rem;
      padding: 1.6rem;
      margin: 0;
      border-top: 0.1rem solid #e3e3e3;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
}
