footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  background: #081c25;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.3rem;
  line-height: 3.2rem;
  text-align: center;
  border-top: 1px solid #00d573;
  color: #fff;
  padding-left: 5rem;
  padding-right: 5rem;

  .wrapper {
    display: flex;
    width: 100%;
    max-width: 100rem;
    justify-content: space-between;

    span {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.4rem;
      text-transform: uppercase;
      white-space: nowrap;
    }

    strong {
      font-size: 1.6rem;
      color: #00d573;
    }
  }
}
