footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 100%;
  padding: 5rem;
  margin-top: auto;
  border-top: 1px solid #00d573;
  font-size: 1.3rem;
  line-height: 3.2rem;
  color: #fff;
  text-align: center;
  background: #081c25;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100rem;

    span {
      font: {
        size: 1.4rem;
        weight: bold;
      }
      line-height: 1.4rem;
      text-transform: uppercase;
      white-space: nowrap;
    }

    strong {
      font-size: 1.6rem;
      color: #00d573;
    }
  }
}
